@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-Regular.ttf");
}

html {
    background-color: #000000;
}

body {
    background-color: #326696;
    margin: 0px;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    /*  font-family: Monospace;*/
    
    font-family: Chivo;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    /*    color: #0078ff;*/
    
    color: #dedede;
    text-decoration: none;
}
/* unvisited link */

a:focus {
    outline: 0px solid black!important;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}
/* mouse over link */

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

#logo_huayra {
    position: relative;
    display: block;
    width: 310px;
    height: 200px;
    margin: 0 auto;
    top: 55%;
}

#left_box {
    display: table;
    position: fixed;
    width: 100%;
    height: 90%;
}

#login_box {
    position: absolute;
    width: 700px;
    height: 100%;
    left: 50%;
    margin-left: -240px;
    background: transparent;
    color: white;
}

#top_box {
    position: absolute;
    width: 100%;
    top: 0;
/*    display: none; */
}

#top_inner_box {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 700px;
}

#bottom_users {
    position: static;
    width: 100%;
    top: 0px;
    left: 0px;
}

#top_users {
    position: static;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

#middle_box {
    position: absolute;
    top: 27%;
    left: 0;
    height: 200px;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

#selected_user_box {
    position: absolute;
    margin-left: 120px;
    margin-top: 30px;
    text-align: left;
}

#selected_user .user_box {
    color: #4d4d4d;
    position: absolute;
    margin-left: 70px;
    margin-top: 36px;
    padding: 16px 12px 16px 60px;
    text-align: left;
    font-weight: 200;
    background-color: white;
    border-radius: 10px;
}

#right-box {
    position: fixed;
    right: 0px;
    vertical-align: middle;
    height: 90%;
    width: 10%;
}

.popover-content {
    max-height: 200px;
    overflow-y: auto;
}

.user_box {
    color: #946537;
    position: relative;
    margin-left: 250px;
    text-align: left;
    font-family: "Chivo";
    margin-top: 20px;
    margin-bottom: 20px;
}

.font_username {
    font-family: "Chivo";
    font-size: 20px;
    font-weight: normal;
}

.font_gecos {
    font-family: "Chivo";
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}

#selected_user .font_username {
    padding: 6px 10px 6px 10px;
    font-family: "Chivo";
    font-size: 20px;
    text-shadow: none;
    border: 1px solid #ffc082;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffc082;
}

#selected_user .font_gecos {
    padding: 11px 12px 8px 0;
    font-family: "Chivo";
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffc082;
}

#user_arrows {
    display: inline-block;
    width: 21px;
    height: 39px;
    right: -30px;
    top: 11px;
    position: absolute;
}

#user_arrow_up,
#user_arrow_dw {
    width: 21px;
    height: 15px;
    background: url(img/user_arrows_off.png) center center no-repeat;
    cursor: pointer;
}

#user_arrow_up {
    background-position: 0 0;
    margin-bottom: 7px;
}

#user_arrow_dw {
    background-position: 0 -24px;
}

#current_session_picture {
    /*
    position: absolute;
    top: 10px;
    left: 376px;
*/
}

#current_language_flag {
    /*
    position: absolute;
    top: 10px;
    left: 346px;
    color: #999;
*/
}

#current_language_flag:hover {
    color: #fff;
}

#selected_avatar {
    position: absolute;
    left: 24px;
    top: 0px;
    width: 96px;
    height: 96px;
    border: 8px solid white;
    border-radius: 50px;
    background-color: white;
    z-index: 10;
}

#selected_status {
    position: absolute;
    margin-left: 135px;
    margin-top: 180px;
    font-style: italic;
    font-family: "Chivo";
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: rgb(92, 57, 32);
}

#entry_box {
    position: absolute;
    margin-top: 120px;
    margin-left: 120px;
    height: 55px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 12px 8px 11px;
}

#entry {
    display: block;
    width: 200px;
    height: 37px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    outline: none;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    background: #ffc082;
    border-radius: 10px;
    border: none;
    color: #4d4d4d;
}

#entry:focus {
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
}

#ok_button_box {
    position: absolute;
    margin-top: 133px;
    margin-left: 263px;
    width: 118px;
    height: 24px;
}

#ok_button {
    width: 25px;
    height: 35px;
    margin-left: 63px;
    font-size: 12px;
    background: transparent url(img/ok_button.png) center center no-repeat;
    border-radius: 0;
    border: none;
    color: white;
}

.session-picture,
.language-picture {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
/*#welcome_message {    
    position: relative; 
    top: 50%;
    color: #fff;
    font-family: "Sawasdee";
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
    font-size:40px;
    line-height: 40px;
    font-weight:300;
    width: 100%;    
}
*/

#lsb {
    position: relative;
    margin-left: auto;
    color: #999;
    width: 100%;
    font-family: "Chivo";
    text-shadow: 0 1px 3px #000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    /*
    visibility: hidden;
*/
}

#panel {
    position: absolute;
    right: 0;
    bottom: 5%;
    text-align: right;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-right: 5%;
}

#messages {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 40px;
    float: left;
    text-align: left;
}

#options {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 40px;
}

.selection-picture {
    width: 28px;
    height: 28px;
    margin: 0 8px;
    cursor: pointer;
}

#clock {
    display: inline-block;
    position: relative;
    color: #666;
    width: 170px;
    font-family: Chivo;
    font-size: 17px;
    font-weight: normal;
}
/*

@media only screen and (max-width: 1000px) {

    #clock   {
        display: none;
    }

    #lsb {
        display: none;
    }
}
*/

#quit_dialog {}

#quit:hover {
    text-shadow: 0 1px 3px rgba(70, 70, 70, 1);
}

.quit_buttons {
    font-family: Chivo;
    width: 100%;
    height: 32px;
    background: transparent;
    color: #946537;
    text-align: left;
    padding-left: 48px;
    border: 0;
}

#quit_shutdown {
    background: url(img/shutdown.svg) center left no-repeat;
    background-size: 32px;
}

#quit_restart {
    background: url(img/suspend.svg) center left no-repeat;
    background-size: 32px;
}

#quit_suspend {
    background: url(img/restart.svg) center left no-repeat;
    background-size: 32px;
}

#error {
    font-family: Chivo;
    float: left;
    font-size: 13px;
    border-radius: 10px;
    background: rgba(161, 31, 8, 0.9);
    padding: 8px 8px 8px 8px;
    margin-left: 11%;
    color: rgb(242, 242, 242);
}

#timed {
    font-family: Chivo;
    float: left;
    font-size: 13px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.9);
    padding: 8px 8px 8px 8px;
    margin-left: 20px;
    color: cyan;
    border: 0;
}

#message {}

#sessions,
#languages {
    color: black;
    background-color: transparent;
    width: 100%;
    text-align: left;
    font-family: Chivo;
}

#sessions td a,
#languages td a {
    font-family: Chivo;
    display: block;
    line-height: 34px;
    width: 100%;
    height: 32px;
    color: #946537;
    background-color: transparent;
}

#quit_options {
    color: black;
    width: 100%;
    text-align: left;
}

.popover {
    font-family: Chivo;
    width: 300px;
    max-width: 300px;
    min-height: 200px;
    background: #ffc082 url(img/panel_header.png) top left no-repeat;
    border-radius: 0;
}
/*
.popover *{
    background-color: transparent !important;
}
*/

.popover-title {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px;
    color: #4d4d4d;
    font-family: Chivo;
}

.popover-content {
    background-color: #ffc082;
    padding: 0;
    font-family: Chivo;
}

.popover .arrow {
    display: none;
}

tr {
    background: transparent;
    border-bottom: 2px solid rgba(255, 102, 0, 0.21);
    border-top: 2px solid rgba(255, 102, 0, 0.21);
}

.table-condensed tbody>tr>td {
    font-family: Chivo;
    padding: 10px 10px 10px 15px;
}

tbody {
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    display: none
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .1);
}
