* {
	color: #d7eef4;
	text-shadow: 0 0 2px rgba(55,55,55,1.0), 0 0 12px rgb(124, 157, 218);
	font-family: 'Commodore 64 Pixelized';
}
body {
	width: 1920px;
	height: 1080px;
	padding: 1%;
	background-color: #6751da;
	overflow: hidden;
}

.scanlines {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url('../img/scanlines.png') no-repeat center center;
	z-index: 2000;
	pointer-events: none;
	
}

.commodore-marco-1 {
	width: 100%;
	height: 100%;
	background-color: #7872d8;
	padding: 6%;
}
.commodore-marco-2 {
	width: 100%;
	height: 100%;
	background: #3934a0 url('../img/violeta.png') no-repeat center center;
	background-size: cover;
	
}

h1 {
	margin: 0;
}

/* Cabecera */

.commodore-basic,
.commodore-info {
	margin: 0;
	font-size: 36px;
	text-transform: uppercase;
}

div#messages,
div#clock {
	display: inline-block;
}

div#messages {
	width: 60%;
}

div#error {
	color: #C8CC00;
}

div#clock {
	width: 32%;
}

div#messages .alert {
	padding: 0;
	margin-bottom: 0;
	border: 0;
}

/* Cuadro de Login */

.login-wrapper {
	margin: 20px auto;
	width: 50%;
	height: 30%;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid white;
	box-shadow: 0px 0px 10px rgba(0,0,0,1.0);
}

#top_box {
	display: none;
}

img#selected_avatar {
	display: block;
	margin: 10px auto;
}	

div#selected_user {
	margin-left: 15px;
}
.commodore-basic label {
	margin: 0;
	font-weight: normal;
}

.commodore-basic input {
	text-transform: uppercase;
	margin: 0;
	background-color: transparent;
	color: #d7eef4;
	border: 0;
	border-bottom: 1px solid #d7eef4;
	focus: 0;
}

div#entry_box input {
	margin-left: 15px;
}

input::-webkit-input-placeholder {
	color: #d7eef4 !important;
}

div#ok_button_box {
	text-align: center;
}

div#ok_button_box input {
	margin: 5px auto;
	border-bottom: 0;
	color: #87cdde;
	font-size: 36px;
	text-shadow: 0 0 2px #0F263A, 0 0 12px #87cdde;
}

input:focus {
	outline: 0px solid black !important;
}

/* Opciones de Idioma, Sessión y Apagado */

div#options {
	display: block;
	position: relative;
	bottom: 12%;
	text-align: center;
}

div#options img {
	margin: 0 15px;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

div#options img:hover {
	transform: scale(1.2);
}

/* Modal */
.popover {
	max-width: 350px;
	font-family: 'Commodore 64 Pixelized';
	background-color: rgba(0,0,0,0.8);
	border: 1px solid white;
	box-shadow: 0px 0px 10px rgba(0,0,0,1.0);
	border-radius: 0;
	padding: 0;
}

.popover-title {
	font-family: 'Commodore 64 Pixelized';
	background-color: rgba(104,102,234,0.8);
	border-radius: 0;
}

.popover a {
	color: #d7eef4;
	text-shadow: 0 0 2px rgba(55,55,55,1.0), 0 0 12px rgba(255,155,155,0.9);
}

.popover-content {
	padding: 15px 12px 10px 12px;
}

.popover-content .table-hover>tbody>tr {
	margin: 5px 0;
}

.popover-content .table-hover>tbody>tr:hover {
	background-color: rgba(104,102,234,0.8);
}

.popover-content table#quit_options {
	margin: 0 auto;
	width: 100%;
}

.popover-content button {
    background: transparent;
    border: 0;
    text-align: center;
}

img.language-picture,
img.session-picture {
	height: 60px;
}

.img.language-picture {
	height: 50px;
	width: 130px;
}

img#current_session_picture,
img#current_languange_flag {
	width: auto;
	height: 60px;
}

/* Helpers */

.divide30 {
	height: 30px;
}
.divide90 {
	height: 90px;
}

.center {
	text-align: center;
}
